<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>مصوبات من</ion-title>
      <ion-buttons slot="end">
          <ion-text class="ion-padding-end">
              {{ userFullName }}
          </ion-text>
      </ion-buttons>
      <ion-buttons slot="end" class="ion-padding-end">
          <ion-button fill="clear" (click)="logout()">
              <ion-icon name="log-out-outline" slot="icon-only" style="transform: rotate(180deg)"></ion-icon>
          </ion-button>
      </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        @for (res of resolutions; track res.id) {
            <ion-item>
                <ion-label class="ion-text-wrap">
                    <h2>{{ res.content }}</h2>
                    <p>مهلت: {{ res.deadline | date:'yyyy/MM/dd' }}</p>
                    <p>درصد پیشرفت: {{ res.progressPercent }}٪</p>
                    <ion-progress-bar
                            [value]="res.progressPercent / 100"
                            color="tertiary"
                            style="margin-top: 4px; height: 8px;"
                    ></ion-progress-bar>

                </ion-label>

                <ion-item style="width: 120px; margin-inline-start: 10px">
                    <ion-icon name="trending-up-outline" slot="start"></ion-icon>
                    <ion-input
                            type="number"
                            min="0"
                            max="100"
                            [(ngModel)]="res.progressPercent"
                            placeholder="٪ جدید"
                    ></ion-input>
                </ion-item>


                <ion-button size="small" (click)="updateProgress(res)">ثبت</ion-button>
            </ion-item>
        }

    </ion-list>
</ion-content>

